h1,h2  {
    text-align: center;
}

hr {
    margin-bottom: 2rem;
}

p {
    text-align: left;
    font-weight: 700;
}

mat-card {
    width: 300px;
    box-shadow: 8px 8px 8px 2px rgba(59, 59, 59, 0.4);
}

mat-card:hover { 
        border: 1px groove rgb(206, 206, 206); 
        box-shadow: 8px 8px 8px 2px rgba(59, 59, 59, 0.4); 
    }


.container {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 0 2px;
}

mat-card-subtitle {
    font-size: large;
}
mat-card-title {
    font-size: 18px;
}
