<div style="background-color: lightblue">
  <h1 style="text-align: center; padding-top: 2rem" mat-dialog-title>
    Formulario Cursos
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="courseForm" (ngSubmit)="actualizar()">
      <mat-grid-list cols="3" rowHeight="4:1.5">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <mat-select formControlName="name" readonly>
              <mat-option ng-readonly="true" *ngFor="let curso of courses" [value]="curso.name">
                {{ curso.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let i of categories" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Nro. Estudiantes</mat-label>
            <input matInput formControlName="number_of_students" />
            <mat-hint style="color: red">
              Campo no editable
            </mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Número de clases</mat-label>
            <input matInput formControlName="number_of_classes" />
            <mat-hint style="color: red">
              Campo no editable
            </mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="pickerFinal" formControlName="fechaFinal">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerFinal"></mat-datepicker-toggle>
            <mat-datepicker #pickerFinal></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- <mat-grid-tile>
          <mat-form-field>
            <mat-label>DNI</mat-label>
            <input matInput formControlName="classes" />
            <mat-hint style="color: red"
              *ngIf="courseForm.get('dni')?.touched && courseForm.get('dni')?.errors?.['required']">
              Este campo es requerido
            </mat-hint>
            <mat-hint style="color: red"
              *ngIf="courseForm.get('dni')?.dirty && courseForm.get('dni')?.errors?.['pattern']">
              Debe tener solo números
            </mat-hint>
            <mat-hint style="color: red" *ngIf="courseForm.get('dni')?.dirty && courseForm.get('dni')?.errors?.['max']">
              No puede tener mas de 8 dígitos
            </mat-hint>
          </mat-form-field>

        </mat-grid-tile> -->
      </mat-grid-list>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial color="primary" (click)="closeDialog()">
      Enviar
    </button>
  </div>
</div>