<mat-drawer-container class="example-container">
    <mat-drawer class="menuContainer" mode="side" opened color="primary">
        <h2 style="text-align: center; color:white; margin-top: 1rem;">Menu</h2>
        <hr>
        <div class="ulContainer">
            <ul class="navbar-nav">
                <li class="nav-item" color="primary" routerLink="students">
                    <a class="nav-link">Students</a>
                </li>

                <li class="nav-item" routerLink="courses">
                    <a class="nav-link">Courses</a>
                </li>
                <li class="nav-item" routerLink="inscripciones">
                    <a class="nav-link">Inscripciones</a>
                </li>
                <li class="nav-item" routerLink="users">
                    <a class="nav-link">Usuarios</a>
                </li>
            </ul>

        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>