/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "../node_modules/@angular/material/theming";
@include mat-core();
@import "../src/theme.scss";

$custom-theme-primary: mat-palette($custom-primary);
$custom-theme-accent: mat-palette($custom-accent, 400, 300, 200);
$custom-theme-warn: mat-palette($mat-red);

$primary300: mat-color($custom-theme-primary, 300);
$primary500: mat-color($custom-theme-primary, 500);
$primary800: mat-color($custom-theme-primary, 800);

$accent300: mat-color($custom-theme-accent, 300);
$accent800: mat-color($custom-theme-accent, 800);

$warn: mat-color($custom-theme-warn, 500);

$custom-theme-theme: mat-light-theme(
  (
    color: (
      primary: $custom-theme-primary,
      accent: $custom-theme-accent,
      warn: $custom-theme-warn,
    ),
  )
);

@include angular-material-color($custom-theme-theme);
