$custom-primary: (
  50: #e2f0f0,
  100: #b7d9d9,
  200: #87c0bf,
  300: #56a7a5,
  400: #329492,
  500: #0e817f,
  600: #0c7977,
  700: #0a6e6c,
  800: #086462,
  900: #04514f,
  A100: #84fffb,
  A200: #51fffa,
  A400: #1efff8,
  A700: #04fff7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$custom-accent: (
  50: #e3e8ea,
  100: #b8c6cc,
  200: #89a0aa,
  300: #597987,
  400: #365d6e,
  500: #124054,
  600: #103a4d,
  700: #0d3243,
  800: #0a2a3a,
  900: #051c29,
  A100: #64bdff,
  A200: #31a7ff,
  A400: #0091fd,
  A700: #0083e4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
