.col-md-3 {
    border-right: 1px solid #9c9393;
    width: 10%;
    height: 100hv;
  }
 
  ul {
    margin-top: 2rem;
    margin-right: 3rem;
    list-style-type: none;
  }

  li {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .btn  {
    border: 1px gray solid;
    background-color: #9c9393;
    margin: 5px 0px ;
    width: 100%;
  }

 