<div class="container">
    <h2>Libros disponibles</h2>
    <div class="contenedor">
        <div class="card">
            <img src="/assets/angular.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Angular Projects</h5>
                <p class="card-text">Tutorial to build awesome projects in Angular!</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/estructurada.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Programación estructurada</h5>
                <p class="card-text">Aprender programación y buenas prácticas</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/oracle.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Oracle 11g</h5>
                <p class="card-text">Bases de datos Oracle, aprende a gestionarlas</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/scratch.jpg" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Scratch</h5>
                <p class="card-text">Los inicios de la programación con una maravillosa aplicación creada por MIT</p>
            </div>
        </div>
    </div>
</div>