$custom-primary: (
  50: #e0e8eb,
  100: #b3c7cd,
  200: #80a1ac,
  300: #4d7b8a,
  400: #265f71,
  500: #004358,
  600: #003d50,
  700: #003447,
  800: #002c3d,
  900: #001e2d,
  A100: #66bdff,
  A200: #33a7ff,
  A400: #0090ff,
  A700: #0082e6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$custom-accent: (
  50: #e3ebe9,
  100: #b8cec8,
  200: #89ada4,
  300: #5a8c80,
  400: #367364,
  500: #135a49,
  600: #115242,
  700: #0e4839,
  800: #0b3f31,
  900: #062e21,
  A100: #68ffc7,
  A200: #35ffb4,
  A400: #02ffa2,
  A700: #00e792,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-warn: (
  50: #ffeee0,
  100: #fed5b3,
  200: #feba80,
  300: #fe9e4d,
  400: #fd8926,
  500: #fd7400,
  600: #fd6c00,
  700: #fc6100,
  800: #fc5700,
  900: #fc4400,
  A100: #ffffff,
  A200: #fff2ef,
  A400: #ffcabc,
  A700: #ffb6a2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
