.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  display: flex;
  width: 30%;
  margin: 10rem auto;
  align-self: center;
  background-color: #004358a8;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-card-header {
  margin: auto;
  text-align: center;
}

button {
  margin: auto;
}
