<div class="container">
  <h1>Formulario de inscripción</h1>
  <hr />
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label> Nombre </mat-label>
      <input matInput formControlName="nombre" />
      <mat-hint
        style="color: red"
        *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']"
      >
        Este campo es requerido
      </mat-hint> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label> Apellido </mat-label>
      <input matInput formControlName="apellido" />
      <mat-hint
        style="color: red"
        *ngIf="form.get('apellido')?.touched && form.get('apellido')?.errors?.['required']"
      >s
        Este campo es requerido
      </mat-hint> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label> Correo </mat-label>
      <input matInput formControlName="email" />
      <mat-hint
        style="color: red"
        *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
      >
        Este campo es requerido
      </mat-hint>
      <mat-hint
        style="color: red"
        *ngIf="form.get('email')?.dirty && form.get('email')?.errors?.['email']"
      >
        Debe ser un correo válido
      </mat-hint> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label> DNI </mat-label>
      <input matInput formControlName="dni" />
      <mat-hint
        style="color: red"
        *ngIf="form.get('dni')?.touched && form.get('dni')?.errors?.['required']"
      >
        Este campo es requerido
      </mat-hint>
      <mat-hint
        style="color: red"
        *ngIf="form.get('dni')?.dirty && form.get('dni')?.errors?.['pattern']"
      >
        Debe tener solo números
      </mat-hint>
      <mat-hint
        style="color: red"
        *ngIf="form.get('dni')?.dirty && form.get('dni')?.errors?.['max']"
      >
        No puede tener mas de 8 dígitos
      </mat-hint> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Curso a inscribir</mat-label>
      <mat-select formControlName="curso">
        <mat-option *ngFor="let curso of cursos" [value]="curso">
          {{ curso.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="W-100">
      <button mat-stroked-button color="warn" type="button">Cancelar</button>
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="tomarDatos()"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
