.container {
  margin-top: 4rem;
  text-align: center;
  width: 50%;
  padding: 2rem 4rem;
}

button {
  color: white;
}

mat-form-field {
  width: 100%;
}

.W-100 {
  display: flex;
}

h1 {
  margin: 3rem;
}
